<script id='annotations-template' type='text/x-handlebars-template'>
<span data-tooltip class="right annotation-icon" data-hover-delay="0" data-template-classes="annotation-tooltip" tabindex="2" data-allow-html="true"
title="This is a <a href='help' target='_blank'>curated annotation</a>.
<br/>
{{#if curator}}<b>Curator:</b> {{curator}}{{/if}}
<br/>
{{#if added_at}}<b>Added at:</b> {{added_at}}{{/if}}">
  <i class="fas fa-hand-holding-medical annotation-icon"></i>
</span>
</script>