<script id='mining-link-table' type='text/x-handlebars-template'>
    <section>
        <div id="mining-list-container">
            <div class="table-caption">
                <span class="widge-title"><i class="fa fa-paperclip"></i> Links inside attached files</span>
                <span class="fa-icon table-expander" id="all-mining-links-expander" title="Click to expand"><i class="fa fa-expand"></i></span>
            </div>
            <div class="table-wrapper">
                <table id="mining-list" class="stripe compact hover" width="100%">
                </table>
            </div>
        </div>
    </section>
</script>